@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 240 5% 96%; /* #F4F4F5 */
    --foreground: 240 10% 4%; /* #09090B */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --border: 240 6% 90%;
    --primary: 46 65% 52%; /* #D4AF37 */
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 240 10% 4%; /* #09090B */
    --foreground: 0 0% 98%;
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    --border: 240 10% 12%;
    --primary: 46 65% 52%; /* #D4AF37 */
    --primary-foreground: 0 0% 100%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
